# Compiled Object files
*.slo
*.lo
*.o
*.suo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
.a
#.lib

# Executables
*.exe
*.out
*.app
.reggae
/LingSpeed
/objs
.ninja
.ninja_
compile_commands.json
*~
imgui.ini
world.blueprint
*.trace
x64
.vs
.filters
Metabolic/Debug/
!lib/*
!bin/*
Debug
.pdb
##
.#*
.gdb_history
callgrind*
map.bmp
map.pvs